@import './mixin.scss';
/* 抽离一些公用css样式 */
.container {
  width: 1226px;
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}
.header-logo {
  display: inline-block;
  height: 56px;
  width: 56px;
  line-height: 100px;
  a {
    display: inline-block;
    height: 110px;
    height: 56px;
    &:before {
      content: ' ';
      @include bgImg(56px, 56px, '@/assets/imgs/logo-mi2.png');
    }

  }
}